@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-Light.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-LightItalic.woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-Italic.woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-MediumItalic.woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-SemiBoldItalic.woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fira_woff2/FiraSans-BoldItalic.woff2');
    font-weight: 700;
    font-style: italic;
}
