/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}

/* Colors */
:root {
  --bg1:#7895B2; /* Background de la page */
  --bg2:#D6DFEA; /* Background des éléments */
  --important1:#143784; /* Couleur de mise en valeur, onglet actif */
  --important2:#AEBDCA; /* Couleur de mise en valeur, bloc actif*/
  --text:#2E2822; /* Couleur du texte et des bordures */
  --good:#4EB844; /* Couleur des actions de type valider/enregistrer */
  --goodHover:#6ED864; /* Couleur hover valider */
  --bad:#FF5859; /* Couleur des actions de type annuler/supprimer */
  --badHover:#FF0001; /* Couleur hover annuler */
  --disabled:#737373; /* Couleur des actions désactivées/blockées */
  --disabledHover:#929494; /* Couleur hover désactivé */
  --input:rgba(255, 255, 255, 0.8); /* Couleur des champs texte */
  --link:#038; /* Couleur des liens */
}

/* Animations */
@keyframes blink {
  0% {background-color: var(--bg2);}
  10% {background-color: var(--important2);}
  20% {background-color: var(--bg2);}
  30% {background-color: var(--important2);}
  40% {background-color: var(--bg2);}
  50% {background-color: var(--important2);}
}

/* Specific */
html {
  font-size: 150%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  min-height: 100%;
}

body {
  font-family: "Fira Sans", sans-serif;
  color: var(--text);
  background: linear-gradient(var(--bg1), var(--important1));
}

body > nav {
  position: sticky;
  top: .5rem;
}

main {
  padding: 1rem;
}

main.many {
  display: grid;
}

main.few {
  display: flex;
}

/* Text */
p, a, li, span, strong {
  font-size: 1em;
}

p, li, h1, h2, h3, h4, h5, h6 {
  margin: .4em;
}

h1 {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.6em;
}

/* Elements & Blocks */
section {
  margin: 1.5em 0;
}

form {
  display: contents;
}

article, fieldset {
  background-color: var(--bg2);
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  /* margin: 0 auto; */
  /* width: fit-content; */
}

.pastille {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

.pastille.fini {
  background-color: var(--good);
}

.pastille.en-cours {
  background-color: var(--bad);
}

/* Fields & Links & Buttons */
input, button, a.button, a.button:link, a.button:visited {
  margin: 0 auto;
  font-size: .8rem;
  padding: .1rem .2rem;
  border: none;
  border-radius: 1rem;
  /* box-sizing: border-box; */
}

input[type=number] {
  min-width: 2.5rem;
  width: 2.5rem;
}

input[type=date] {
  min-width: 6.6rem;
  width: 6.6rem;
}

input[type=text], input[type=password] {
  display: block;
  min-width: 4rem;
  width: 100%;
  max-width: 10rem;
}

input[type=file] {
  display: block;
  min-width: 5.5rem;
  width: 100%;
  max-width: 11rem;
}

button {
  display: block;
}

a.button {
  display: inline-block;
}

button:hover, input[type=submit]:hover, a.button:hover {
  cursor: pointer;
  scale: 1.2;
  transition: .4s;
  text-decoration: none;
}
a:link, a:visited {
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

.bad {
  background-color: var(--bad);
}

.bad:hover {
  background-color: var(--badHover);
}

.good {
  background-color: var(--good);
}

.good:hover {
  background-color: var(--goodHover);
}

.disabled {
  background-color: var(--disabled);
}

.disabled:hover {
  background-color: var(--disabledHover);
}

/* Images */
picture, source {
  display: contents;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 1rem;
}

table img {
  width: 3rem;
}

header img {
  width: 14rem;
  margin: 0;
}

/* Tables */
table {
  border-collapse: separate;
  border-spacing: 0px;
  margin: 0 auto 1rem auto;
  vertical-align: middle;
  min-width: min-content;
  width: 100%;
  max-width: max-content;
}

th, td:first-child {
  background-color: var(--th-bg);
  font-weight: bold;
  text-align: center;
}

th:first-child, tr.single td:first-child {
  border-top-left-radius: 1rem;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

th:last-child, tr.single td:last-child {
  border-top-right-radius: 1rem;
  border-right-width: 2px;
}

td:last-child {
  border-right-width: 2px;
}

tr:hover {
  background-color: var(--important2);
}

td, th {
  border: 0 solid black;
  box-sizing: border-box;
  border-bottom-width: 2px;
  border-left-width: 2px;
  padding: .5rem;
  vertical-align: middle;
  white-space: nowrap;
}

th, tr.single td {
  border-top-width: 2px;
}

tr:target {
  animation-name: blink;
  animation-duration: 3s;
}

/* Misc */
.technical {
  display: none;
}

/* Small screen & Touch screen */
@media screen and (max-width: 600px) {
  i.text {
    display: none;
  }

  body {
    padding-bottom: 8rem;
  }
}

@media screen and (pointer: coarse), (pointer: none) {
  div.toolbar {
    margin: 0;
    width: 100%;
    position: fixed;
    top: unset;
    bottom: 0;
  }
}
